<h1>Welcome to our api display</h1>

<ul>
  <li><a href="/artists">All Artists</a></li>
  <li><a href="/albums">All Albums</a></li>
  <li><a href="/invoices/country-summary">Summary of invoices by country</a> — <strong>New!</strong></li>
</ul>
